<div class="ctn-bars-search w-75 p-2">
    <form class="d-flex align-items-center" action="/users/search?key=" method="GET">
        <input type="text" name="key" class="form-control inputSearch" placeholder="Ingresa el nombre de la ciudad donde deseas ir">
        <button type="submit" class="btn btn-icon-search"><i class="bi bi-search"></i></button>
    </form>
</div>

<div class="cover-ctn-search"></div>
