<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body class="hidden">

    <div class="centrado">
      <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    
  <header>
    <%- include('../partials/navbar.ejs') %>
  </header>

    <main >
        <h2>Tu compra</h2>
        <table class="table w-75 m-auto text-center">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Precio Total</th>
            </tr>
          </thead>
          <tbody class="table-group-divider cartRow">
          </tbody>
        </table>
        <div class="emptyCart w-75 m-auto text-center"></div>
        <table class="table w-75 m-auto text-center">
          <tr>
            <tbody class="table-group-divider">
              <th scope="row"></th>
              <td colspan="2" class="fw-bold">TOTAL DE LA COMPRA</td>
              <td class="fw-bold cartTotal"></td>
            </tbody>
          </tr>
        </table>

        <form class="w-75 m-auto pt-2 checkoutCart">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" name="paymentMethod">Forma de Pago</label>
            <select class="form-select" aria-label="Default select example" name="paymentMethod">
              <option selected disabled>Elije tu forma de pago</option>
              <option value="debitCard">Tarjeta de Débito</option>
              <option value="creditCard">Tarjeta de Crédito</option>
              <option value="transfer">Transferencia</option>
            </select>
          </div>
          <button class="btn btn-primary w-50 m-auto mt-4 mb-4 d-grid gap-2" type="submit">Confirmar Compra</button>
        </form>
    </main>

    <footer class="pt-2">
      <%- include('../partials/footer.ejs') %>
    </footer>
  
  
    <%- include('../partials/scripts.ejs') %>
    <script src="/js/cart.js"></script>
    <script src="/js/cartItems.js"></script>

</body>
</html>