<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
<body>

  <header>
    <%- include('../partials/navbar.ejs') %>
  </header>

    <main >
        <h2>Tu compra</h2>
        <div class="container carrito mt-2 mb-4 pt-4 pb-4">
            <div class="pt-2 pb-2">
                <div class="d-md-flex justify-content-around align-items-center border-top">
                    <div class="d-flex align-items-center justify-content-center p-2">
                        <img src="../images/la_habana.jpg" alt="Vuelo La Habana">
                        <div class="d-flex flex-column align-items-center">
                            <h4 class="pb-0 mb-0">Vuelo a La Habana</h4>
                            <span>Desde Córdoba</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around justify-content-md-around">
                      <form action="" method="post">
                        <div class="d-flex flex-column align-items-center">
                          <div>
                            <button class="border"><i class="bi bi-dash"></i></button>
                            <input type="text" class="border text-center" value="1">
                            <button class="border"><i class="bi bi-plus"></i></button>
                          </div>
                          <div>
                            <button class="border mt-1"><i class="bi bi-archive"></i> Eliminar Item</button>
                          </div>
                        </div>
                      </form>
                        <span class="spanPrecio">$250.000</span>
                    </div>
                </div>
            </div>
            <div class="pt-2 pb-2">
              <div class="d-md-flex justify-content-around align-items-center border-top">
                  <div class="d-flex align-items-center justify-content-center p-2">
                      <img src="../images/la_habana.jpg" alt="Vuelo La Habana">
                      <div class="d-flex flex-column align-items-center">
                          <h4 class="pb-0 mb-0">Vuelo a La Habana</h4>
                          <span>Desde Córdoba</span>
                      </div>
                  </div>
                  <div class="d-flex justify-content-around justify-content-md-around">
                    <form action="" method="post">
                      <div class="d-flex flex-column align-items-center">
                        <div>
                          <button class="border"><i class="bi bi-dash"></i></button>
                          <input type="text" class="border text-center" value="1">
                          <button class="border"><i class="bi bi-plus"></i></button>
                        </div>
                        <div>
                          <button class="border mt-1"><i class="bi bi-archive"></i> Eliminar Item</button>
                        </div>
                      </div>
                    </form>
                      <span class="spanPrecio">$250.000</span>
                  </div>
              </div>
              <div class="pt-2 pb-2">
                <div class="d-md-flex justify-content-around align-items-center border-top">
                    <div class="d-flex align-items-center justify-content-center p-2">
                        <img src="../images/la_habana.jpg" alt="Vuelo La Habana">
                        <div class="d-flex flex-column align-items-center">
                            <h4 class="pb-0 mb-0">Vuelo a La Habana</h4>
                            <span>Desde Córdoba</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around justify-content-md-around">
                        <form action="" method="post">
                          <div class="d-flex flex-column align-items-center">
                            <div>
                              <button class="border"><i class="bi bi-dash"></i></button>
                              <input type="text" class="border text-center" value="1">
                              <button class="border"><i class="bi bi-plus"></i></button>
                            </div>
                            <div>
                              <button class="border mt-1"><i class="bi bi-archive"></i> Eliminar Item</button>
                            </div>
                          </div>
                        </form>
                        <span class="spanPrecio">$250.000</span>
                    </div>
                </div>
                <div class="mt-2 pt-4 pb-2 divTotal border border-dark">
                  <div class="d-flex justify-content-around align-items-center">
                      <div class="d-flex align-items-center justify-content-center p-2">
                          <p class="fw-bold fst-italic">TOTAL DE TU COMPRA:</p>
                      </div>
                      <div class="d-flex justify-content-around justify-content-md-around">
                          <span class="fw-bold fst-italic">$750.000</span>
                      </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                  <button class="btnLogin"><i class="bi bi-check2-square"></i> Finalizar Compra</button>
                </div>
        </div>
    </main>

    <footer class="pt-2">
      <%- include('../partials/footer.ejs') %>
    </footer>
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>