<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
<body>

  <header>
    <%- include('../partials/navbar.ejs') %>
  </header>

    <main class="mainNosotros container pt-4 pb-4 mt-3 mb-3">
      <div class="nosotros d-lg-flex justify-content-center align-items-center">
        <div class="d-none d-lg-block">
          <img src="../images/nosotros.jpg" alt="Nosotros">
        </div>
        <div class="text-center p-3">
          <p><b>VivirViajando</b> es una empresa familiar apasionada por los viajes. </p> 
          <p>Consideramos que el ser humano, por naturaleza, es curioso y nómade por lo que viajar lo hace sentirse realmente vivo y, por ello, ponemos en sus manos las mejores alternativas para que usted, su familia y amigos puedar vivir la vida.</p> 
          <p>El propósito de <b>VivirViajando</b> es mostrarte únicamente las promociones y los precios que se encuentra por debajo del promedio. Estamos al servicio del viajero mostrando precios que, seguramente, se pasarían horas buscando en diferentes sitio.</p>
          <p>Como buenos viajeros y amantes de nuestro planeta que somos, queremos una sola cosa: <b>QUE VIVAS TU VIDA Y SOLO DISFRUTES!!</b></p>
          <p class="text-center fs-2"><b>¡¡BUEN VIAJE!!</b></p>
        </div>
      </div>
    </main>

    <footer class="pt-2">
      <%- include('../partials/footer.ejs') %>
    </footer>
  
  
    <%- include('../partials/scripts.ejs') %>
    <script src="/js/cart.js"></script>

</body>
</html>